-- CreateEnum
CREATE TYPE "Nature" AS ENUM ('LOI', 'LOI_ORGANIQUE', 'LOI_CONSTITUTIONNELLE', 'ORDONNANCE', 'DECRET', 'DECRET_LOI', 'ARRETE', 'CIRCULAIRE', 'DECISION', 'CONVENTION', 'TRAITE', 'CODE', 'JURISPRUDENCE', 'AUTRE');

-- CreateEnum
CREATE TYPE "EtatTexte" AS ENUM ('VIGUEUR', 'VIGUEUR_DIFF', 'MODIFIE', 'ABROGE', 'ABROGE_DIFF', 'PERIME');

-- CreateEnum
CREATE TYPE "EtatArticle" AS ENUM ('VIGUEUR', 'VIGUEUR_DIFF', 'MODIFIE', 'ABROGE', 'PERIME');

-- CreateEnum
CREATE TYPE "TypeRelation" AS ENUM ('ABROGE', 'ABROGE_PARTIELLEMENT', 'MODIFIE', 'COMPLETE', 'CITE', 'APPLIQUE', 'PROROGE', 'SUSPEND', 'RATIFIE', 'CODIFIE', 'CONSOLIDE');

-- CreateTable
CREATE TABLE "Texte" (
    "id" TEXT NOT NULL,
    "cid" TEXT NOT NULL,
    "nor" TEXT,
    "eli" TEXT,
    "titre" TEXT NOT NULL,
    "titreComplet" TEXT,
    "nature" "Nature" NOT NULL,
    "numero" TEXT,
    "dateSignature" TIMESTAMP(3),
    "datePublication" TIMESTAMP(3),
    "dateEntreeVigueur" TIMESTAMP(3),
    "dateAbrogation" TIMESTAMP(3),
    "etat" "EtatTexte" NOT NULL DEFAULT 'VIGUEUR',
    "versionEnVigueur" BOOLEAN NOT NULL DEFAULT true,
    "visas" TEXT,
    "signataires" TEXT,
    "sourceJO" TEXT,
    "urlJO" TEXT,
    "fichierPdf" TEXT,
    "sousCategorie" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Texte_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Article" (
    "id" TEXT NOT NULL,
    "cid" TEXT NOT NULL,
    "numero" TEXT NOT NULL,
    "contenu" TEXT NOT NULL,
    "etat" "EtatArticle" NOT NULL DEFAULT 'VIGUEUR',
    "dateDebut" TIMESTAMP(3),
    "dateFin" TIMESTAMP(3),
    "ordre" INTEGER NOT NULL,
    "texteId" TEXT NOT NULL,
    "sectionId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Article_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Section" (
    "id" TEXT NOT NULL,
    "cid" TEXT NOT NULL,
    "titre" TEXT NOT NULL,
    "niveau" INTEGER NOT NULL,
    "ordre" INTEGER NOT NULL,
    "texteId" TEXT NOT NULL,
    "parentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Section_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VersionTexte" (
    "id" TEXT NOT NULL,
    "texteId" TEXT NOT NULL,
    "dateDebut" TIMESTAMP(3) NOT NULL,
    "dateFin" TIMESTAMP(3),
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VersionTexte_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TexteRelation" (
    "id" TEXT NOT NULL,
    "type" "TypeRelation" NOT NULL,
    "texteSourceId" TEXT NOT NULL,
    "texteCibleId" TEXT NOT NULL,
    "articleCibleNum" TEXT,
    "description" TEXT,
    "dateEffet" TIMESTAMP(3),
    "articleSourceNum" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TexteRelation_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Texte_cid_key" ON "Texte"("cid");

-- CreateIndex
CREATE UNIQUE INDEX "Texte_nor_key" ON "Texte"("nor");

-- CreateIndex
CREATE UNIQUE INDEX "Texte_eli_key" ON "Texte"("eli");

-- CreateIndex
CREATE INDEX "Texte_nature_idx" ON "Texte"("nature");

-- CreateIndex
CREATE INDEX "Texte_sousCategorie_idx" ON "Texte"("sousCategorie");

-- CreateIndex
CREATE INDEX "Texte_datePublication_idx" ON "Texte"("datePublication");

-- CreateIndex
CREATE INDEX "Texte_etat_idx" ON "Texte"("etat");

-- CreateIndex
CREATE UNIQUE INDEX "Article_cid_key" ON "Article"("cid");

-- CreateIndex
CREATE INDEX "Article_texteId_idx" ON "Article"("texteId");

-- CreateIndex
CREATE INDEX "Article_etat_idx" ON "Article"("etat");

-- CreateIndex
CREATE UNIQUE INDEX "Section_cid_key" ON "Section"("cid");

-- CreateIndex
CREATE INDEX "Section_texteId_idx" ON "Section"("texteId");

-- CreateIndex
CREATE INDEX "VersionTexte_texteId_idx" ON "VersionTexte"("texteId");

-- CreateIndex
CREATE INDEX "TexteRelation_texteSourceId_idx" ON "TexteRelation"("texteSourceId");

-- CreateIndex
CREATE INDEX "TexteRelation_texteCibleId_idx" ON "TexteRelation"("texteCibleId");

-- CreateIndex
CREATE INDEX "TexteRelation_type_idx" ON "TexteRelation"("type");

-- CreateIndex
CREATE UNIQUE INDEX "TexteRelation_texteSourceId_texteCibleId_type_articleCibleN_key" ON "TexteRelation"("texteSourceId", "texteCibleId", "type", "articleCibleNum");

-- AddForeignKey
ALTER TABLE "Article" ADD CONSTRAINT "Article_texteId_fkey" FOREIGN KEY ("texteId") REFERENCES "Texte"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Article" ADD CONSTRAINT "Article_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES "Section"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Section" ADD CONSTRAINT "Section_texteId_fkey" FOREIGN KEY ("texteId") REFERENCES "Texte"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Section" ADD CONSTRAINT "Section_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "Section"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VersionTexte" ADD CONSTRAINT "VersionTexte_texteId_fkey" FOREIGN KEY ("texteId") REFERENCES "Texte"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TexteRelation" ADD CONSTRAINT "TexteRelation_texteSourceId_fkey" FOREIGN KEY ("texteSourceId") REFERENCES "Texte"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TexteRelation" ADD CONSTRAINT "TexteRelation_texteCibleId_fkey" FOREIGN KEY ("texteCibleId") REFERENCES "Texte"("id") ON DELETE CASCADE ON UPDATE CASCADE;

